.App {
  @apply relative bg-slate-800;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  @apply h-1/10 w-full absolute top-0 left-0 bg-slate-800;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  @apply text-slate-200 bg-slate-800;
}

.App-content-bg {
  @apply h-[85%] sm:h-[80%] w-full absolute top-[10%] bg-contain bg-no-repeat bg-center bg-rocket-splash-short grid place-content-center bg-slate-800;
}

.App-download {
  @apply text-2xl text-slate-300 border-solid border-2 border-slate-400;
}

.App-footer {
  @apply h-1/20 sm:h-1/10 w-full absolute bottom-0 left-0 bg-slate-800 items-center justify-center text-slate-200;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}